<h1>Listing processed reservations</h1>
<p id="notice"><%= notice %></p>

<%= render 'list' %>

<%= link_to 'New Reservation', new_reservation_path %>
<%= link_to 'List of New Reservations', reservations_path %>
