<h1>Listing new reservations</h1>
<p id="notice"><%= notice %></p>
<%= render 'list' %>
<%= link_to 'New Reservation', new_reservation_path %>
<%= link_to 'List of Processed Reservations', history_url %>
